/* General Style */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --myBlue: #14213d;
  --myCyan: #d7f9f1;
  --myYellow: #fca311;
}

body {
  background-color: var(--myCyan);
}

/* Header Style */
#main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--myBlue);
  width: 100%;
  color: white;
  border-bottom: 5px solid var(--myYellow);
}

#main h1 {
  font-size: 52px;
  margin: 16px;
  font-family: "Kanit", sans-serif;
}

#main li {
  list-style-type: none;
  cursor: pointer;
  display: inline;
  padding: 10px;
}

/* About Style */
#about {
  display: flex;
}

/* Projects Style */
#projects {
  display: flex;
}

/* Contact */
#contact {
  display: flex;
  background-color: var(--myBlue);
  color: white;
}

/* .aside Style */
.aside {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.aside img {
  width: 250px;
}

/* .bulk Style */
.bulk {
  display: flex;
}

/* Media Queries */

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}
